.maincontainer{
    padding: 64px 0;
}
.img{
    width: 100px !important;
    height: 100px;
    margin-left: 11rem;
    margin-right: 11rem;
}
.stackheading{
    color: white;
    display: flex;
    justify-content: center;
}
.container{
    margin-right: auto;
    margin-left: auto;
}
