.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5rem;
}
.head{
    color: white;
    font-size: 3rem;
}
.iconcontact{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5%;
    margin-top: 8%;
}
.iconlink{
    display: flex;
    margin-top: 5%;
    justify-content: start;
    gap: 15px;
}
.coprights {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    font-size: 13px;
    font-weight: 600;
    color: white;
  }
