#root {
    /* margin: 0px; */
    place-items: center;
    width: 100vw;
    min-width: 320px;
    min-height: 100vh;
    overflow-x: hidden;
    background: #211522;
    box-sizing: border-box;
    
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html {
  scroll-behavior: smooth;
}